@use '@carbon/react' with (
  $theme: (
    background: #262626,
    layer-01: #393939,
    text-primary: #f4f4f4,
    text-secondary: #c6c6c6,
    text-inverse: #ffffff,
    link-primary: #78a9ff,
  )
);

body {
  background-color: #262626;
  color: #f4f4f4;
}

a {
  color: #78a9ff;
}

h1, h2, h3, h4, h5, h6, p, span, div {
  color: #f4f4f4;
}

.cds--side-nav,
.cds--side-nav__navigation {
  background-color: #000000 !important;
}

a.cds--side-nav__link--current,
a.cds--side-nav__link--current > span.cds--side-nav__link-text {
  background-color: #262626 !important;
  color: #f4f4f4 !important;
}

.cds--side-nav__item:not(.cds--side-nav__item--active)
  > .cds--side-nav__link:hover {
  background-color: #393939 !important;
  color: #f4f4f4 !important;
}

a.cds--side-nav__link > .cds--side-nav__link-text,
.cds--side-nav__item:not(.cds--side-nav__item--active)
  > .cds--side-nav__link:hover
  > span {
  color: #f4f4f4 !important;
}